:root {
    --selection-bg-color: bisque;
    --selection-font-color: #060a23;
}

* {
    color:aliceblue;
    font-family: 'Caveat', cursive;
    
}

*::selection {
    background-color: var(--selection-bg-color);
    color: var(--selection-font-color);
}

/* degug overflow */
/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */

a {
    text-decoration: none;
}

h3 {
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    background-image: url("/img/phone_320/bgImg.jpg");
    background-size:cover;
}

hr {
    margin-left: 0;
    margin-right: 0;
}

#topSection {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: baseline;
    flex-wrap: wrap;

}

#topSection header {
    /* display: inline-block; */
    flex-basis: 15%;
    text-align: center;
    /* flex-grow: 1; */
}

#topSection nav {
    flex-basis: 85%;
}

#navUl {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

#navUl li {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: row;
}

#leftMain {
    display: flex;
    flex-basis: 80%;
    flex-direction: column;
    justify-content: flex-start;    
    overflow-x: hidden;
}

#leftMainContent {
    margin-left: 10%;
    margin-right: 25%;
    font-size: 1.5rem;
}

/* .contentLi a::selection, #download h1::selection {
    background-color: bisque;
    color: #060a23;
} */

.contentLi a:hover {
    width:auto;
    height: auto;
    background-color: aliceblue;
    padding: 1% 5%;    
    color:blue;
}

.contentLi {
    margin-bottom: 5%;
}

#currPage {
    margin-top: 0;
    font-size: 250%;
    margin-left: 10%;
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 150%;
    }
  
    to {
      margin-left: 10%;
    }
}

#download {
    transform: translate(10%, 20%);
    transition: 1s;
}

#download h1 {
    font-size: 150%;
}

#rightMain {
    flex-basis: 20%;
    text-align: center;
}

#profilePhoto img{
    width: 60%;
    transition: border-radius 1s;
}

#profilePhoto img:hover{
    border-radius: 50%;
}

#footerSection1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#footerSection1 h1 {
    flex-basis: 30%;
    padding-left: 2vw;
}


#footerSection2 {
    display: flex;
    flex-basis: 70%;
    flex-direction: row;
    justify-content: space-around;    
    align-items: center;
    
}

#footerMedia {
    /* flex-basis: 70%; */
    text-align: end;
}

.mediaImg {
    width: 25px;
    height: 25px;
}

#downloadResume {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 5%;
    color:blue;
    background-color: aliceblue;
    transition: 0.5s;
}

#downloadResume:hover{
    background-color: aqua;
    color: darkblue;
    border-radius: 50%;
}

/* #helloMyName {
    font-size: 300%;
}

#hello {
    font-size: 80%;
} */

@media (min-width: 320px) {
    body {
        background-image: url("/img/phone_320/bgImg.jpg");
        background-size:cover;
    }
}

@media (min-width: 375px) {
    body {
        background-image: url("/img/phone_375/bgImg.jpg");
        background-size:cover;
    }
}

@media (min-width: 481px) {
    body {
        background-image: url("/img/tablet_481/bgImg.jpg");
        background-size:cover;
    }
}

@media (min-width: 768px) {
    body {
        background-image: url("/img/tablet_768/bgImg.jpg");
        background-size:cover;
    }
}

@media (min-width: 1025px) {
    body {
        background-image: url("/img/laptop_1025/bgImg.jpg");
        background-size:cover;
    }
}

@media (min-width: 1280px) {
    body {
        background-image: url("/img/desktop_1280/bgImg.jpg");
        background-size:cover;
    }
}

@media (min-width: 1920px) {
    body {
        background-image: url("/img/desktop_1920/");
        background-size:cover;
    }
}

@media (max-width: 490px) {
    #topSection header {
        display: none;
    }

    #footerMedia {
        display: flex;
        flex-direction: column;
    }

    #footerSection1 h1 {
        display: none;
    }

    #footerSection2 {
        display: flex;
        flex-basis: 100%;
        flex-direction: row;
        justify-content: space-between;    
        align-items: center;
        
    }

    #navUl {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
    

}